<h1><%= link_to @assignment.title, @assignment%></h1>
<br>
<h2>Authors:</h2>

<% if !@authors.blank? %>
	<ul>
	<li>
		<a href="<%=url_for(:controller=>"facebook_users", :action=>"profile", :id=>@assignment.facebook_user.id)%>"><%= fb_name(@assignment.facebook_user.uid, options={:linked => false, :useyou => false}) %></a> 
	
	</li>
	
	<% for author in @authors %>
		<li>
			<% if author.facebook_user %>

			<a href="<%=url_for(:controller=>"facebook_users", :action=>"profile", :id=> FacebookUser.find(:first, :conditions => {:uid => author.facebook_user_uid }))%>"><%= fb_name(author.facebook_user_uid, options={:linked => false, :useyou => false}) %></a> 
			<%else%>
					<%= fb_name(author.facebook_user_uid, options={:linked => true, :useyou => false})%>
			<%end%>			
			
			(<%= link_to "Remove", remove_author_url(:id => @assignment.id, :uid => author.facebook_user_uid)%>)
		</li>
	<% end %>
	</ul>
<% else %>
	There are no additional authors for this assignment.
<% end %>

<br>

<h2>Add Authors</h2>
<%= form_tag add_authors_url(:id => @assignment.id)%>
<%= fb_multi_friend_input(:condensed => true)%>
<%= submit_tag "Add these people as authors"%>

</form>