<h1>Post a new assignment</h1>
<div>
	<div id="contentPanel">
		<% form_for(@assignment) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= label_tag "Title (Required)" %><br />
		    <%= f.text_field :title, :required => true, :class => "titleField", :size => "46" %>
		  </p>
		  <p>
		    <%= f.label :synopsis %><br />
		    <%= f.text_area :synopsis, :class => "synopsisField" ,:rows => "10", :cols => "50"%>
		  </p>
		  <p>
		    <%= label_tag "Tags"%><br />
		    <%= f.text_field :tag_list %>
		  </p>
		  <p>
		    <%= label_tag "Assignment Files"%><br />
			<input type="file" id="uploaded_file" name="uploaded_file" />
		  </p>
	
		  <p>
		    <div class="buttons">
				<Button>Create Assignment</Button>
			</div>
		  </p>
		<% end %>
	</div>
	<div id="rightPanel">
		 <br>
		<div class="postIt">
			<p>When you create an assignment, it would be saved in <strong>unpublished mode</strong>, in which it would be viewable to only you. You can publish it or take it off whenever you wish to.</p>
			<p> You can choose to upload your assignment's files right now as a .zip file, or you can upload it later. You can also upload and remove individual files from the assignment package once you save it. </p>
		</div>
	</div>
</div>