<%= fb_title @assignment.title%>
<%= render :partial =>"partials/activity_item_ajax_js_include" %>
<script type="text/javascript" charset="utf-8">
function doAjaxInPlaceEdit(field) {
	document.getElementById(field+'_field').setStyle("display","none");
	document.getElementById(field+'_editing_section').setStyle("display","block");	
	document.getElementById(field+'_saving_section').setStyle("display","none");		
  return false;
}

function doAjaxInPlaceSave(field) {
	document.getElementById(field+'_saving_section').setStyle("display","block");		
	id = <%=@assignment.id%>;
	value = document.getElementById(field+'_editor').getValue();
	url = '<%= url_for(:action => "edit_field", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
	ajaxUpdateField(id, field, value, url);
  return false;
}


function doTagSave(field) {
	document.getElementById(field+'_saving_section').setStyle("display","block");		
	id = <%=@assignment.id%>;
	value = document.getElementById(field+'_editor').getValue();
	url = '<%= url_for(:action => "edit_field", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
	ajaxUpdateField(id, field, value, url);
  return false;
}


function doTagCancel(field) {
	document.getElementById(field+'_saving_section').setStyle("display","block");		
	id = <%=@assignment.id%>;
	value = document.getElementById(field+'_editor').getValue();
	url = '<%= url_for(:action => "display_editable_tag_list", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
	ajaxUpdateField(id, field, value, url);
  return false;
}

function doAjaxInPlaceCancel(field) {
	document.getElementById(field+'_field').setStyle("display","block");
	document.getElementById(field+'_editing_section').setStyle("display","none");		
	document.getElementById(field+'_saving_section').setStyle("display","none");		
  return false;
}

function confirmFlick(action, URL) {
		//Confirmation Dialog sends request on Confirm    
	   dlg = new Dialog(); 
	   dlg.showChoice("Confirm " + action, "Are you sure you want to "+action+" this item?", "Yes", "No"); 
	   dlg.onconfirm = function() { 
			document.setLocation(URL);
		}
}

function deleteAssignmentFile(id, path, ctr) {
  url = '<%= url_for(:controller => "assignments", :action => "remove_file", :canvas => false, :only_path => false, 
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  ajaxDeleteFile( id , url,'fileList_'+ctr, path);
}

function requestTagUpdate(vars) {
  url = '<%= url_for(:action => "update_tags", :canvas => false, :only_path => false,   request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  ajaxCall( vars, url,'tags_field'); 
  return false;
}

function submit_rating(rating, assignment_id, div_id) {
  url = '<%= url_for(:action => "submit_rating", :canvas => false, :only_path => false,   request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  var vars = 'rating='+rating+"&"+"assignment_id="+assignment_id;
  ajaxCall(vars, url,div_id); 
  return false;
}

</script>
<style type="text/css">
/* TODO: MOVE THIS CSS TO THE PUBLIC STYLESHEETS, BUT YOU HAVE TO CHANGE THE 2 REFERENCES TO THE .GIF FILE
/* THIS IS FOR STAR RATINGS from*/
/* star rating code - use lists because its more semantic */
/* No javascript required */
/* all the stars are contained in one matrix to solve rollover problems with delay */
/* the background position is just shifted to reveal the correct image. */
/* the images are 16px by 16px and the background position will be shifted in negative 16px increments */
/*  key:  B=Blank : O=Orange : G = Green * /
/*..... The Matrix ....... */
/* colours ....Background position */
/* B B B B B - (0 0)*/
/* G B B B B - (0 -16px)*/
/* G G B B B - (0 -32px)*/
/* G G G B B - (0 -48px)*/
/* G G G G B - (0 -64px)*/
/* G G G G G - (0 -80px)*/
/* O B B B B - (0 -96px)*/
/* O O B B B - (0 -112px)*/
/* O O O B B - (0 -128px)*/
/* O O O O B - (0 -144px)*/
/* O O O O O - (0 -160px)*/


/* the default rating is placed as a background image in the ul */
/* use the background position according to the table above to display the required images*/
.rating {
    width:80px;
    height:16px;
    margin:0 0 0 0;
    padding:0;
    list-style:none;
    /* clear:both; */
    position:relative;
	background: url('<%= request.protocol + request.host_with_port + "//images/activity_icons/star-matrix1.gif"%>') no-repeat 0 0;
	/* background: url('/images/activity_icons/star-matrix1.gif') no-repeat 0 0; */
}
/* add these classes to the ul to effect the change to the correct number of stars */
.nostar {background-position:0 0}
.onestar {background-position:0 -16px}
.twostar {background-position:0 -32px}
.threestar {background-position:0 -48px}
.fourstar {background-position:0 -64px}
.fivestar {background-position:0 -80px}
ul.rating li {
    cursor: pointer;
 /*ie5 mac doesn't like it if the list is floated\*/
    float:left;
    /* end hide*/
    text-indent:-999em;
}
ul.rating li a {
    position:absolute;
    left:0;
    top:0;
    width:16px;
    height:16px;
    text-decoration:none;
    z-index: 200;
}
ul.rating li.one a {left:0}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {
    z-index:2;
    width:80px;
    height:16px;
    overflow:hidden;
    left:0;
	background: url('<%= request.protocol + request.host_with_port + "//images/activity_icons/star-matrix1.gif"%>') no-repeat 0 0;
	/* background: url('/images/activity_icons/star-matrix1.gif') no-repeat 0 0; */
	

}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px}
ul.rating li.four a:hover {background-position:0 -144px}
ul.rating li.five a:hover {background-position:0 -160px}
 
/* end rating code */
</style>

<% if @is_author %>
<div class="assignmentHeader">  
	<div class="assignmentTitle">
		<div id="title_field" onMouseOver="flashObj(this);" onMouseOut="unFlashObj(this);" onClick="doAjaxInPlaceEdit('title');">
			<%= @assignment.title %>
		</div>
	</div>
	<div id="title_editing_section" style="display:none;">
		<input type="text" size="60" id="title_editor" value="<%=@assignment.title%>"/> 
		<div class="buttons">
			<button value="Save" onClick="doAjaxInPlaceSave('title');" class="positive">Save</button>
			<button value="Cancel" onClick="doAjaxInPlaceCancel('title');" class="negative">Cancel</button>
		</div>
	</div>
	<div id="title_saving_section" style="display:none;">
		<i>Saving...</i>
	</div>
	<div id="authors_area">
		<a href="<%=url_for(:controller=>"facebook_users", :action=>"profile", :id=>@assignment.facebook_user.id)%>"><%= fb_name(@assignment.facebook_user.uid, options={:linked => false, :useyou => false}) %></a> 
	
		<%= render :partial =>"partials/author_list", :locals => {:assignment => @assignment} %>
		<% if @assignment.facebook_user.id == @fb_user.id %>
			(<%= link_to "edit authors", authors_url(:id=> @assignment.id) %>)
		<% end %>
	</div>
</div>
<% else %>
<div class="assignmentHeader">  
	<div class="assignmentTitle">
		<div id="title_field">
			<%= @assignment.title %>
		</div>
	</div>
	<div id="authors_area">
			<a href="<%=url_for(:controller=>"facebook_users", :action=>"profile", :id=>@assignment.facebook_user.id)%>"><%= fb_name(@assignment.facebook_user.uid, options={:linked => false, :useyou => false}) %></a> 
	</div>
</div>
<% end %>



<div id="contentPanel">
	<% if @is_author %>

	<div id="tags_field">
		  <%= render :partial => "editable_linked_tag_list", :locals => { :assignment_id => @assignment.id, :list => @assignment.tag_list, :user_id => @fb_user.id }%>
	</div>
	<% else %>
		<%= render :partial => "linked_tag_list", :locals => { :list => @assignment.tag_list }%>
	<%end%>
	
	<div id="assignmentFeatureBox">
		<div class="leftHalf">
			<ul class="paramList">
				<li>Downloads: <%= @assignment.stat_downloads%></li>
				<li>Course: <%=truncate(strip_tags(@assignment.prop_course), 30, "...") %></li>
				<li>Est. Experience: <%=truncate(strip_tags(@assignment.prop_estimated_experience), 30, "...") %></li>
			</ul>
		</div>
		<div class="rightHalf">
			<ul class="paramList">
				<li> <span id="five_star_rating"> <%= render :partial => "five_star_rating", :locals => { :assignment_id => @assignment.id }%> </span>
				</li>
				<li>License: 
				<% if @assignment.prop_license_url%>	
					<a href= "<%=@assignment.prop_license_url%>"><%=truncate(strip_tags(@assignment.prop_license), 30, "...") %></a></li>
				<%else%>
					<%=truncate(strip_tags(@assignment.prop_license), 30, "...") %>
				<%end%>
				<li>Language: <%=truncate(strip_tags(@assignment.prop_language), 30, "...") %> <%=truncate(strip_tags(@assignment.prop_language_version), 30, "...") %></li>
			</ul>
		</div>
	</div>
		
	
	<% if @is_author %>
	<p style="clear:both;">
  		<div id="synopsis_field"  class="editInPlaceField" onMouseOver="flashObj(this);" onMouseOut="unFlashObj(this);" onClick="doAjaxInPlaceEdit('synopsis');">
			<%if @assignment.synopsis and @assignment.synopsis != "" %>
				<%= @assignment.synopsis %>
			<%else%>
				None
			<%end%>
		</div>
		<div id="synopsis_editing_section" style="display:none;">
			<textarea rows="20" cols="52" id="synopsis_editor"><%=@assignment.synopsis%></textarea><br>
			<div class="buttons">
				<button value="Save" onClick="doAjaxInPlaceSave('synopsis');" class="positive">Save</button>
				<button value="Cancel" onClick="doAjaxInPlaceCancel('synopsis');" class="negative">Cancel</button>
			</div>
		</div>
		<div id="synopsis_saving_section" style="display:none;">
			Saving...
		</div>
	</p>
	<% else %>
	<p style="clear:both;">
  		<div id="synopsis_field"><%= @assignment.synopsis %></div>
	</p>
	<% end %>

<div id="moreMetaBox">
	<div id="moreMetaHeader" onClick="flipVisibility('moreMetaContent');">All Metadata</div>
	<div id="moreMetaContent">
		<table border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td class="moreMetaKey">Language</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_language", :field_value => @assignment.prop_language, :is_author => @is_author} %>
				</td>
			</tr>
			<tr>
				<td class="moreMetaKey">Lang Version</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_language_version", :field_value => @assignment.prop_language_version, :is_author => @is_author} %>

				</td>
			</tr>
			<tr>
				<td class="moreMetaKey">License</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_license", :field_value => @assignment.prop_license, :is_author => @is_author} %>
				</td>
			</tr>
			<tr>
				<td class="moreMetaKey">License URL</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_license_url", :field_value => @assignment.prop_license_url, :is_author => @is_author} %>
				</td>
			</tr>
			<tr>
				<td class="moreMetaKey">Copyright</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_copyright", :field_value => @assignment.prop_copyright, :is_author => @is_author} %>
				</td>
			</tr>

			<tr>
				<td class="moreMetaKey">Course</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_course", :field_value => @assignment.prop_course, :is_author => @is_author} %>
				</td>
			</tr>
			<tr>
				<td class="moreMetaKey">Course Info URL</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_info_url", :field_value => @assignment.prop_info_url, :is_author => @is_author} %>
				</td>
			</tr>
			<tr>
				<td class="moreMetaKey">Est. Experience</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_estimated_experience", :field_value => @assignment.prop_estimated_experience, :is_author => @is_author} %>
				</td>
			</tr>
			<tr>
				<td class="moreMetaKey">Est. Size</td>
				<td class="moreMetaValue">
					<%= render :partial =>"partials/ajax_edit_in_place_mini", :locals => {:field_name => "prop_estimated_size", :field_value => @assignment.prop_estimated_size, :is_author => @is_author} %>
				</td>
			</tr>
		</table>
	</div>
</div>

<p style="clear:both;"></p>
<div class="boxHeaderFlexible" >Comments</div>
<% for comment in @assignment.comments %>
<div id="comment">
<div id="commentUserIcon"><%= fb_profile_pic(comment.facebook_user.uid, options={:size => :thumb}) %></div>
<div id="commentText"><%= textilize(comment.body) %>
	<p><small>By <%= fb_name(comment.facebook_user.uid, options={:linked => true, :capitalize => true, :useyou => true})%></small></p>
	</div>
</div>
<% end %>
<div id="commentForm">
<%= form_tag :action => "comment" , :id => @assignment%>
	<%= text_area "comment", "body", :class => "comment_text_area" %> <br>
	<%= submit_tag "Comment!", :class => "csp"%>
</form>
</div>

</div> <!-- Content Panel -->

<div id="rightPanel">
	<div class="buttons">
	<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
					<% if @assignment.published == false %>
						<a class="positive" href="#" onClick="confirmFlick('publish', '<%=url_for :action => "flick_switch", :id => @assignment.id%>')">Publish Assignment</a>
					<% else %>
						<a class="negative" href="#" onClick="confirmFlick('un-publish', '<%=url_for :action => "flick_switch", :id => @assignment.id%>')">Unpublish Assignment</a>
					<% end %>
				</form>
			<br>
		<% end %>
		<% if @assignment.queue_flag and @assignment.published %>
			<%= link_to "Download Assignment", url_for(:controller => "assignments", :action => "download_item", :id => @assignment.id, :filepath => "/")%>
		<% end %>
	</div>
	<p> </p>
	<div class="boxHeaderFlexible">Files</div>
	<div >
		<% if @assignment.queue_flag %>
			<ul class="fileList">
				<% i = 0%>
				<% for file in @assignment.files %>
					<%if file.include?"." %>
						<li id="fileList_<%=i%>">
							<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
								<%=link_to file, edit_file_path(:id => @assignment.id, :path => file)%>
							<% else %>
								<%=link_to file, read_file_path(:id => @assignment.id, :path => file)%>
							<% end %>
							<% if (((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user))) and (file != 'assignment.properties') %>
								(<%= link_to "X", "#", :onclick => "deleteAssignmentFile(#{@assignment.id}, '#{file}', '#{i}')" %>)
							<% end %>
						</li>
					<% i = i + 1%>
					<%end%>
				<% end %>
			</ul>
		<% else %>
			No files uploaded.
		<% end %>
	</div>
	
	<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
		<div class="buttons">
			<a href=<%=upload_file_url :id => @assignment.id%> class="Positive">+ Add a file</a>
			<a href=<%=upload_zip_file_url :id => @assignment.id%> class="Positive">+ Upload a ZIP file</a>
		</div>
	<% end %>
	<p> </p>
	<div class="boxHeaderFlexible">Recent activity</div>
	<%if @activity_items%>
		<% for activity_item in @activity_items %>
			<%= render :partial =>"partials/activity_item", :locals => {:activity_item => activity_item} %>
		<% end %>
	<%else%>
		There is no recent activity on this assignment.
	<% end %>
	<p> </p>
	<div class="boxHeaderFlexible">More by <%= fb_name(@assignment.facebook_user.uid, options={:firstnameonly => false, :linked => false, :useyou => true})%></div>
	<% @more_assignments_by_author.each { |assignment_by_author| 	%>
		<div class="miniAssignmentItem"><%= link_to truncate(assignment_by_author.title, 35, "..."), :action => "show", :id => assignment_by_author.id %></div>
	<% } %>

</div>

