<%= fb_title @assignment.title%>
<%= render :partial =>"partials/activity_item_ajax_js_include" %>
<script type="text/javascript" charset="utf-8">
function doAjaxInPlaceEdit(field) {
	document.getElementById(field+'_field').setStyle("display","none");
	document.getElementById(field+'_editing_section').setStyle("display","block");	
	document.getElementById(field+'_saving_section').setStyle("display","none");		
  return false;
}

function doAjaxInPlaceSave(field) {
	document.getElementById(field+'_saving_section').setStyle("display","block");		
	id = <%=@assignment.id%>;
	value = document.getElementById(field+'_editor').getValue();
	url = '<%= url_for(:action => "edit_field", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
	ajaxUpdateField(id, field, value, url);
  return false;
}


function doTagSave(field) {
	document.getElementById(field+'_saving_section').setStyle("display","block");		
	id = <%=@assignment.id%>;
	console.info('ID = '+id);
	value = document.getElementById(field+'_editor').getValue();
	url = '<%= url_for(:action => "edit_field", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
	ajaxUpdateField(id, field, value, url);
  return false;
}


function doTagCancel(field) {
	document.getElementById(field+'_saving_section').setStyle("display","block");		
	id = <%=@assignment.id%>;
	console.info('ID = '+id);
	value = document.getElementById(field+'_editor').getValue();
	url = '<%= url_for(:action => "display_editable_tag_list", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
	ajaxUpdateField(id, field, value, url);
  return false;
}

function doAjaxInPlaceCancel(field) {
	document.getElementById(field+'_field').setStyle("display","block");
	document.getElementById(field+'_editing_section').setStyle("display","none");		
	document.getElementById(field+'_saving_section').setStyle("display","none");		
  return false;
}

function confirmFlick(action, URL) {
		//Confirmation Dialog sends request on Confirm    
	   dlg = new Dialog(); 
	   dlg.showChoice("Confirm " + action, "Are you sure you want to "+action+" this item?", "Yes", "No"); 
	   dlg.onconfirm = function() { 
			document.setLocation(URL);
		}
}

function deleteAssignmentFile(id, path) {
  url = '<%= url_for(:controller => "assignments", :action => "remove_file", :canvas => false, :only_path => false, 
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  ajaxDeleteFile( id , url,'fileList_'+id, path);
}

function requestTagUpdate(vars) {
  url = '<%= url_for(:action => "update_tags", :canvas => false, :only_path => false,   request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  ajaxCall( vars, url,'tags_field'); 
  return false;
}

function submit_rating(rating, assignment_id, div_id) {
  url = '<%= url_for(:action => "submit_rating", :canvas => false, :only_path => false,   request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  var vars = 'rating='+rating+"&"+"assignment_id="+assignment_id;
  console.info(vars);
  console.info(url);
  ajaxCall(vars, url,div_id); 
  return false;
}

</script>

<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
<div class="assignmentHeader">  
	<div class="assignmentTitle">
		<div id="title_field" onMouseOver="flashObj(this);" onMouseOut="unFlashObj(this);" onClick="doAjaxInPlaceEdit('title');">
			<%= @assignment.title %>
		</div>
	</div>
	<div id="title_editing_section" style="display:none;">
		<input type="text" size="60" id="title_editor" value="<%=@assignment.title%>"/> 
		<div class="buttons">
			<button value="Save" onClick="doAjaxInPlaceSave('title');" class="positive">Save</button>
			<button value="Cancel" onClick="doAjaxInPlaceCancel('title');" class="negative">Cancel</button>
		</div>
	</div>
	<div id="title_saving_section" style="display:none;">
		<i>Saving...</i>
	</div>
	<div style="clear:both; padding-left:3px">
		<%= fb_name(@assignment.facebook_user.uid, :firstnameonly => false, :useyou => false, :capitalize => true) %> 
		<%= render :partial =>"partials/author_list", :locals => {:assignment => @assignment} %>
		<% if @assignment.facebook_user.id == @fb_user.id %>
			(<%= link_to "edit authors", authors_url(:id=> @assignment.id) %>)
		<% end %>
	</div>
</div>
<% else %>
<div class="assignmentHeader">  
	<div class="assignmentTitle">
		<div id="title_field">
			<%= @assignment.title %>
		</div>
	</div>
	<div style="clear:both; padding-left:3px">
		<%= fb_name(@assignment.facebook_user.uid, :firstnameonly => false, :useyou => false, :capitalize => true) %>
	</div>
</div>
<% end %>



<div id="contentPanel">
	
	<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>

	<div id="tags_field">
		  <%= render :partial => "editable_linked_tag_list", :locals => { :assignment_id => @assignment.id, :list => @assignment.tag_list, :user_id => @fb_user.id }%>
	</div>
	<% else %>
		<%= render :partial => "linked_tag_list", :locals => { :list => @assignment.tag_list }%>
	<%end%>
	
	<div id="assignmentFeatureBox">
		<div class="leftHalf">
			<ul class="paramList">
				<li>Downloads: 0</li>
				<li>Course: <%=truncate(strip_tags(@assignment.prop_course), 30, "...") %></li>
				<li>Est. Experience: <%=truncate(strip_tags(@assignment.prop_estimated_experience), 30, "...") %></li>
			</ul>
		</div>
		<div class="rightHalf">
			<ul class="paramList">
				<li>Rating: <%= @assignment.rating%></li>
				<li>License: 
				<% if @assignment.prop_license_url%>	
					<a href= "<%=@assignment.prop_license_url%>"><%=truncate(strip_tags(@assignment.prop_license), 30, "...") %></a></li>
				<%else%>
					<%=truncate(strip_tags(@assignment.prop_license), 30, "...") %>
				<%end%>
				<li>Language: <%=truncate(strip_tags(@assignment.prop_language), 30, "...") %></li>
			</ul>
		</div>
	</div>
		
	<div id="five_star_rating">
	
	<%= render :partial => "five_star_rating", :locals => { :assignment_id => @assignment.id }%>
	
	</div>
	
	<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
	<p style="clear:both;">
  		<div id="synopsis_field"  onMouseOver="flashObj(this);" onMouseOut="unFlashObj(this);" onClick="doAjaxInPlaceEdit('synopsis');"><%= @assignment.synopsis %></div>
		<div id="synopsis_editing_section" style="display:none;">
			<textarea rows="20" cols="52" id="synopsis_editor"><%=@assignment.synopsis%></textarea><br>
			<div class="buttons">
				<button value="Save" onClick="doAjaxInPlaceSave('synopsis');" class="positive">Save</button>
				<button value="Cancel" onClick="doAjaxInPlaceCancel('synopsis');" class="negative">Cancel</button>
			</div>
		</div>
		<div id="synopsis_saving_section" style="display:none;">
			Saving...
		</div>
	</p>
	<% else %>
	<p style="clear:both;">
  		<div id="synopsis_field"><%= @assignment.synopsis %></div>
	</p>
	<% end %>

<p style="clear:both;"></p>
<div class="boxHeaderFlexible" >Comments</div>
<% for comment in @assignment.comments %>
<div id="comment">
<div id="commentUserIcon"><%= fb_profile_pic(comment.facebook_user.uid, options={:size => :thumb}) %></div>
<div id="commentText"><%= textilize(comment.body) %>
	<p><small>By <%= fb_name(comment.facebook_user.uid, options={:linked => true, :capitalize => true, :useyou => true})%></small></p>
	</div>
</div>
<% end %>
<div id="commentForm">
<%= form_tag :action => "comment" , :id => @assignment%>
	<%= text_area "comment", "body" %> <br>
	<%= submit_tag "Comment!"%>
</form>
</div>

</div> <!-- Content Panel -->

<div id="rightPanel">
	<div class="buttons">
	<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
					<% if @assignment.published == false %>
						<a class="positive" href="#" onClick="confirmFlick('publish', '<%=url_for :action => "flick_switch", :id => @assignment.id%>')">Publish Assignment</a>
					<% else %>
						<a class="negative" href="#" onClick="confirmFlick('un-publish', '<%=url_for :action => "flick_switch", :id => @assignment.id%>')">Un-publish Assignment</a>
					<% end %>
				</form>
			<br>
		<% end %>
		<% if @assignment.queue_flag and @assignment.published %>
			<%= link_to "Download Assignment", @download_url+@assignment.id.to_s%>
		<% end %>
	</div>
	<p> </p>
	<div class="boxHeaderFlexible">Files</div>
	<div >
		<% if @assignment.queue_flag %>
			<ul class="fileList">
				<% for file in @assignment.files %>
					<%if file.include?"." %>
						<li id="fileList_<%=file%>">
						<%=file%> 
						<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
							(<%= link_to "X", "#", :onclick => "deleteAssignmentFile(#{@assignment.id}, '#{file})'" %>)
						<% end %>
						</li>
					<%end%>
				<% end %>
			</ul>
		<% else %>
			No files uploaded.
			<% if ((@assignment.facebook_user.id == @fb_user.id) or (@assignment.is_author? @fb_user)) %>
				<%= form_tag(@upload_url, :multipart => true)%>
					<input type="file" id="uploaded_file" name="uploaded_file" />
					<input id="id" name="id" value="<%=@assignment.id%>"type="hidden" />
					<%= submit_tag "Upload" %>
				</form>
			<% end %>
		<% end %>
	</div>
	
	<% if @assignment.queue_flag %>
		<div class="buttons">
			<a href="" class="Positive">+ Add a file</a>
		</div>
	<% end %>
	<p> </p>
	<div class="boxHeaderFlexible">Recent activity</div>
	<%if @activity_items%>
		<% for activity_item in @activity_items %>
			<%= render :partial =>"partials/activity_item", :locals => {:activity_item => activity_item} %>
		<% end %>
	<%else%>
		There is no recent activity on this assignment.
	<% end %>
	<p> </p>
	<div class="boxHeaderFlexible">More by <%= fb_name(@assignment.facebook_user.uid, options={:firstnameonly => false, :linked => false, :useyou => true})%></div>
	<div style="height:200px"></div>
	
	
	
</div>
<div style="clear:both;">
	<hr>
	<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
	<%= link_to 'All Assignments', assignments_path %><br>
</div>
<!-- <fb:iframe src="<%= iframe_url("assignments/ishow/#{@assignment.id}")%>" border="0" width="645" height="200" name="iFrameShow" scrolling="no" frameborder="0"></fb:iframe> -->

