<%if assignment.published%>
<div class="assignmentItem">
<%else%>
<div class="unpublishedAssignmentItem">
<%end%>
	<div class="assignmentTitle">
		<%= link_to assignment.title,  "http://apps.facebook.com/" + ENV['FACEBOOKER_RELATIVE_URL_ROOT'] + '/assignments/' + assignment.id.to_s %>
	</div>
	<div class="assignmentInfo">
		<%=truncate(assignment.synopsis.gsub(%r{</?[^>]+?>}, ''), 140)%>
	</div>
	<div class="assignmentAuthor">
		<a href="<%= canvas "/profile/"+assignment.facebook_user.id.to_s %>">
			<%= fb_name(assignment.facebook_user.uid, options={:linked => false, :useyou => false}) %>
		</a>
		<%= render :partial =>"partials/author_list", :locals => {:assignment => assignment} %>
		
	</div>
	<div class="assignmentTags">
		<%= render :partial => "assignments/linked_tag_list", :locals => { :list => assignment.tag_list } %>
	</div>
	<div class="assignmentOptions">
		<% if assignment.facebook_user.id == @fb_user.id %>
			<%= link_to 'Delete',  canvas('/assignments/' + assignment.id.to_s), :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>
</div>