<%= fb_title "Home"%>
<%= render :partial =>"partials/activity_item_ajax_js_include" %>
<script language="JavaScript" type="text/javascript"> 

function submitAssignmentAjax(vars) {
  url = '<%= url_for(:action => "list_assignments", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
//ajax.post('http://bashful.cs.vt.edu:3000/facebook_users/list_assignments/'+<%=@fb_user.uid%>);
  ajaxCall( vars, url,'assignment_list'); 
  return false;
}
// Unobtrusively add sumbit ajax to the form
document.getElementById('ajax_button').addEventListener('click',submitAjax);
</script>

<div id="contentPanel">
<div class="boxHeaderFlexible">Recent Activity</div>
	<% for activity_item in @activity_items %>
		<%= render :partial =>"partials/activity_item", :locals => {:activity_item => activity_item} %>
	<% end %>
	<br>
	<br>
	<br>
	<br>
	<div id="assignment_list">
		<%= render :partial => "ajaxy_list", :locals => {:user => @fb_user, :assignments => @recommended_assignments, :sort => 'recoms'}, :layout => false %>
	</div>
</div>
<div id="rightPanel">
	<div class="boxHeaderFlexible">What is CATspace?</div>
	CatSpace lets you share assignments with other CS instructors to get feedback and help you improve. Click on the following video for a quick demo: (Video coming soon!)
	<p> </p>
	<div class="boxHeaderFlexible">Tags of Interest</div>
	<% tag_cloud @assignmentTags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    	<%= link_to tag.name, { :controller=>"assignments", :action => :tag, :id => tag.name }, :class => css_class %>
	<% end %>
	<p> </p>
	<div class="boxHeaderFlexible">People Like You</div>
		<%= render :partial =>"partials/people_sidebar_list", :locals => {:users => @users_like_you} %>
</div>