<script language="JavaScript" type="text/javascript"> 

function submitAssignmentAjax(vars) {
  url = '<%= url_for(:action => "list_assignments", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
//ajax.post('http://bashful.cs.vt.edu:3000/facebook_users/list_assignments/'+<%=@fb_user.uid%>);
  ajaxCall( vars , url,'assignment_list'); 
  return false;
}

function deleteActivityItem(id) {
  url = '<%= url_for(:controller => "activity_items", :action => "destroy", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  ajaxDeleteItem( id , url,'activity-'+id); 
  return false;
}

// Unobtrusively add sumbit ajax to the form
document.getElementById('ajax_button').addEventListener('click',submitAjax);

</script>
<div id="contentPanel">
<table border="0" cellspacing="5" cellpadding="2">
	<tr>
		<td><%= fb_profile_pic(@fb_user.uid, options={:size => :normal}) %></td>
		<td width="90%" valign="top"><h1><%= fb_name(@fb_user.uid, options={:linked => false, :useyou => false}) %></h1></td>		
		</tr>
</table>
<div class="boxHeaderFlexible">Latest Activity</div>
<ul>
<% for activity_item in @activity_items %>
  <div id="activity-<%=activity_item.id%>">
	    <%= fb_name(activity_item.facebook_user.uid, options={:linked => true, :useyou => true}) %> <%= activity_item.sentence%> <%= link_to activity_item.assignment.title, :controller=>"assignments",:action=>"show",:id => activity_item.assignment.id  %> (<%= link_to "X", "#", :onclick => "deleteActivityItem(#{activity_item.id})" %>)
  </div>
<% end %>
</ul>
<div class="boxHeaderFlexible">Your Assignments</div>
Sort by:
<%= link_to "Date", "#", :onclick => "submitAssignmentAjax('user=#{@fb_user.id}&sort=date')" %> | 
<%= link_to "Name", "#", :onclick => "submitAssignmentAjax('user=#{@fb_user.id}&sort=title')" %> | 
<%= link_to "Rating", "#", :onclick => "submitAssignmentAjax('user=#{@fb_user.id}&sort=rating')" %> | 
<%= link_to "Comments", "#", :onclick => "submitAssignmentAjax('user=#{@fb_user.id}&sort=comments')" %>
<div id="assignment_list">
<% for assignment in @fb_user.assignments %>
<%= render :partial =>"partials/assignment_display", :locals => {:assignment => assignment} %>
<%end%>
<!-- <%= render :partial => "ajaxy_list", :locals => {:user => @fb_user, :assignments => @fb_user.assignments}, :layout => false %> -->
</div>

<br>
</div>
<div id="rightPanel">
<br>
<div class="greenButton"><%=link_to "Create Assignment", {:controller=>"assignments", :action => "new"}, :class =>"whiteLink"%></div><br /><%= link_to "Preferences", :action=>"preferences" %><br /><br />
<div class="boxHeaderFlexible">Your Tag Cloud</div>
<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :controller=>"assignments", :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

</div>
