<%if @self%>
<%= fb_title "My Profile"%>
<%else%>
<%= fb_title "Profile"%>
<%end%>

<%= render :partial =>"partials/activity_item_ajax_js_include" %>
<script language="JavaScript" type="text/javascript"> 

function submitAssignmentAjax(vars) {
  url = '<%= url_for(:action => "list_assignments", :canvas => false, :only_path => false,
  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
  ajaxCall( vars, url,'assignment_list'); 
  return false;
}
// Unobtrusively add sumbit ajax to the form
// document.getElementById('ajax_button').addEventListener('click',submitAjax);
</script>
<div id="contentPanel">
	<table border="0" cellspacing="5" cellpadding="2">
		<tr>
			<td><%= fb_profile_pic(@user.uid, options={:size => :normal}) %></td>
			<td width="90%" valign="top">
				<h1><%= fb_name(@user.uid, options={:linked => false, :useyou => false}) %></h1>
				<div id="userProfileInfo">
					Virginia Tech<br>
					<%= @user.assignments.count %> Assignments on CATspace.
				</div>
			</td>		
		</tr>
	</table>
	<div class="boxHeaderFlexible">
		<%= fb_name(@user.uid, :capitalize => true, :firstnameonly => true, :useyou => true, :possessive => true, :linked => false) %> Latest Activity
	</div>
	<% for activity_item in @activity_items %>
		<%= render :partial =>"partials/activity_item", :locals => {:activity_item => activity_item} %>
	<% end %>
	<p> </p>
	<div class="boxHeaderFlexible">
		<%= fb_name(@user.uid, :capitalize => true, :firstnameonly => true, :useyou => true, :possessive => true, :linked => false) %> Assignments
	</div>
	<div id="assignment_list">
		<%= render :partial => "ajaxy_list", :locals => {:user => @user, :assignments => @sorted_assignments, :sort => 'date'}, :layout => false %>
	</div>
	
	<br>
	
</div>

<div id="rightPanel">
	
	<br>
	
	<% if @self%>
		<div class="buttons" style="clear:none;">
			<%=link_to "Create Assignment", accept_copyrights_url, :class =>"positive"%>
			<br />
			<%= link_to "Preferences", :action=>"preferences" %>
		</div>
		<br />
	<% end %>

	<div class="boxHeaderFlexible">  
		<%= fb_name(@user.uid, :capitalize => true, :firstnameonly => true, :useyou => true, :possessive => true, :linked => false) %> Tag Cloud
	</div>

	<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    	<%= link_to tag.name, { :controller=>"assignments", :action => :tag, :id => tag.name }, :class => css_class %>
	<% end %>

</div>
