<%= stylesheet_link_tag("site")%>
<%= javascript_include_tag('application','facebooker')  %>
<div id="header">
	<h1>Catspace</h1>
	<div id="headerSearchForm">
		<%=form_tag search_url%>
		<%=text_field_tag("q")%>
		<%=submit_tag "Search"%>
		</form>
	</div>
</div>
<div id="content">
<% fb_tabs do %>
	<%= fb_tab_item("Home", home_url, :selected => controller_selected?('home'))%>
	<%= fb_tab_item("Assignments", assignments_url, :selected => controller_selected?('assignments'))%>
	<%= fb_tab_item("People", "#")%>
	<%= fb_tab_item("My CatSpace", my_url, :selected => action_selected?('facebook_users', 'my'))%>
<% end %>
<p style="color: red"><%= flash[:alert] %></p>
<p style="color: green"><%= flash[:notice] %></p>
<div id="current_content">

<%= yield %>
</div>
<div id="footer"></div>
</div>

