<%= stylesheet_link_tag("site")%>
<%= javascript_include_tag('application','facebooker')  %>
<div id="wrapper">
<div id="header">
	<div id="headerSearchForm">
		<%=form_tag search_url%>
		<%=text_field_tag("q", "", :class => "csp")%>
		<%= submit_tag "Search", :class => "csp"%>
		<!-- <span class="buttons"><button type="submit" name="Search">Search</button></span> -->
		</form>
	</div>
<div id="headerImage"><%= image_tag("logo.png")%></div>
</div>
<div id="content">
<% fb_tabs do %>
	<%= fb_tab_item("Home", home_url, :selected => controller_selected?('home'))%>
	<%= fb_tab_item("Assignments", assignments_url, :selected => controller_selected?('assignments'))%>
	<%= fb_tab_item("People", people_url, :selected => people_selected?)%>
	<%= fb_tab_item("My CATspace", profile_url(:id => ""), :selected => self_profile_selected?)%>
<% end %>
<% if flash[:alert]%>
	<br>
	<div id="alert" class="alert"><%= flash[:alert] %></div>
	<script type="text/javascript" charset="utf-8">
		fadeAway("alert");
	</script>	
<% end %>
<% if flash[:notice] %>
	<br>
	<div id="notice" class="notice"><%= flash[:notice] %></div>
	<script type="text/javascript" charset="utf-8">
		fadeAway("notice");
	</script>
	<!-- <a href="#" onClick="fadeAway('notice');">Test Animation</a> -->

<% end %>
<div id="current_content">
<%= yield %>
</div>
<div id="footer"></div>
</div>
</div>